.row1 {
    height: 890px;
}

.super-wide {
    width: 100%;
}
.super-short {
    height: 492px;
}    
h1 {
    text-align: center;
    margin-top: 70px;
}

html {
box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.float-left {
    float: left;
    padding: 20px;
}
    
.port {
    background-color: lightblue;
    text-align: center;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.my-column1 {                           /* from portfolio html */  
    height: 225px;
    text-align: center;
    padding:50px;
    font-size: 55px;
    font-weight: bolder;   
}
.contact-column {                          /* From contact html */
 height: 850px;
 text-align: center;
 padding: 40px;
 
}
.bg-info {
    font-size: 20px;
}
.col-md-8 contact-column bg-info {
    display: flex;
    flex-flow: row wrap;
}

.col-md-4 contact-column bg-info {
    display: flex;
    flex-wrap: row wrap;
}

.first-nm {                             /* from contact/form 1st name */
    margin-bottom: 20px;
    margin-top: 65px;
    flex: 3;
}

.email-add {                             /* from contact/from Email */
    margin-bottom: 20px;
    flex: 3;
}

.textt-form {
    height: 50px;
    margin-bottom: 15px;
    flex: 3;
}
.submit-b {
    padding: top 20px;
width: 40px;
height: 35px;
margin-top: 30px;
}

.card {
    padding: 20px;
    margin-top: 169px;
    margin-bottom: auto;
    margin-right: 150px;
     

}

.footer {
    text-align: center;
    width: 100%;   
}
@media all and (max-width: 741px) { 
    .col-md-4 contact-column bg-info {
        flex-direction: column;
    }
}
