.row1 row {
    height: 890px;

}

.super-wide {
    width: 100%;
}
.super-short {
    height: 492px;
}    
h1 {
    text-align: center;
    margin-top: 70px;
}

html {
box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.float-left {
    float: left;
    padding: 20px;
}
.my-flex-container {
    border: 4px solid black;
    height: 900px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
} 

.my-flex-container-column {
    border: 10px solid black;
    height: 200px;
    margin-bottom: 40px;
}
.my-flex-item {
    background-color: burlywood;
    border: 10px black;
    height: 100px;   
}

.contact-flex-container-column {
    border: 10px solid black;
    height: 200px;
    margin-bottom: 40px;
}
.port {
    text-align: center;
    margin-top: auto;
}    

.contact-column {                          /* From contact html */
 height: 850px;
 text-align: center;
 padding: 40px;
}

.bg-info {
    font-size: 20px;
}

.first-nm {                             /* from contact/form 1st name */
    margin-bottom: 20px;
    margin-top: 65px;
}

.email-add {                             /* from contact/from Email */
    margin-bottom: 20px;

}

.textt-form {
    height: 50px;
    margin-bottom: 15px;
    
}
.submit-b {
    padding: top 20px;
width: 40px;
height: 35px;
margin-top: 30px;
}

.container {
    justify-content: center;  
    
}

.footer {
    text-align: center;
    width: 100%; 
}

